body {
  font-family: sans-serif;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.hero-section {
  display: block;
  justify-content: center; /* căn giữa theo chiều ngang */
  align-items: center;     /* căn giữa theo chiều dọc */
  text-align: center;

  padding: 30px 20px;
  align-items: center;
}
.hero-image{
  width: 350px;
  
}

.hero-text h1 {
  font-size: 72px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  padding-left: 200px;
}
.hero-text p {
  font-size: 25px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight:400;
  text-align: left;
  padding-left: 200px;
}
.hero-text p span{
  background-color: yellow;
  padding-inline: 20px;
}
.upload-box {
  background: azure;
  padding: 40px;
  text-align: center;
  border-radius: 12px;
  display: flex;
}
.upload-page{
  display: flex;
}
.example-img {
  width: 50px;
  margin: 10px;
}
/* Cho phần chứa chính */
.nav-bar {
  background-color: #fff; /* hoặc màu bạn thích */
  padding: 10px 30px;
  box-shadow: 0 2px 5px rgba(255, 1, 1, 0.199);
}

.nav-content {
  display: flex;
  align-items: center;
  max-width: 3600px;
  margin: 0 auto;
}

/* Cho các <ul> nằm ngang */
.nav-content ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* Tùy chỉnh nút */
.nav-content button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Tùy chỉnh logo nếu cần */
.nav-content img {
  width: 120px;
  height: 50px;
  object-fit: contain;
}
.nav-content li button {
  padding: 7px 15px;
  color: rgb(129, 113, 113);
  border: none;
  border-radius: 100px; /* tạo hình con nhộng */
  font-size: 15px;
  cursor: pointer;
  transition: background-color 1s;
  white-space: nowrap;  
  font-weight: bold;
}
.nav-content li .sign-up {
  background-color: beige;
}
.nav-content li button:hover{
  background-color: rgb(182, 185, 187);
}



